:root, [data-bs-theme=light] {
  --bs-secondary: #6c757d;
  --bs-secondary-rgb: 108,117,125;
  --bs-secondary-text-emphasis: #2B2F32;
  --bs-secondary-bg-subtle: #E2E3E5;
  --bs-secondary-border-subtle: #C4C8CB;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5C636A;
  --bs-btn-hover-border-color: #565E64;
  --bs-btn-focus-shadow-rgb: 233,234,236;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565E64;
  --bs-btn-active-border-color: #51585E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.btn-outline-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108,117,125;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
}

