/*				*/
/* 250px = 15.625em = 1, 389	*/
/* 18px  => 100%		*/
/* 250px => X			*/
/*				*/

.aboutme > div {
  padding: 20px 10px 2px !important;
}

.aboutme > div > div > p {
  text-align: justify;
}

.aboutmenav{
  padding-top: 10px !important;
  position: relative;
  /*bottom: 0;*/
  width: 100%;
  z-index: 7000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.5s ease-in-out;
}

.aboutmenav a{
  --margin: 0px 10px 10px 0px !important;
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #212529;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.sticky-nav {
  position: fixed !important;
  background-color: var(--bs-light-bg-subtle);
  /* width: 100%; */
  top: 0px !important;
  transition: 0.5s;
  padding: 0 !important;
  /* margin-left: -10px !important; */
  transition: top 0.5s ease-in-out;
}

.workexperience div {
  padding: 10px 0px 0px 10px !important;
}

.workexperience > div > ul > li {
  margin: 10px 20px !important;
}

.skills > div,
.languages > div {
  width: 230px;
  overflow: clip;
  box-shadow: 0px 0px 10px 5px;
  margin: 10px !important;
  border-style: solid;
  border-radius: 20px;
  padding: 10px !important;
}

.skillindicatorouter,
.languagesindicatorouter {
  padding: 0 !important;
  z-index: 5000;
  overflow: hidden;
  background: var(--bs-body-color);
  width: 200px;
  height: 15px;
}

.skillindicatorouter > div,
.languagesindicatorouter > div {
  z-index: 6000;
  background-color: var(--bs-gray-400);
  width: 90%;
  height: 15px;
}

.skillindicatorouter > div > p,
.languagesindicatorouter > div > p {
  text-align: center;
  font-size: 0.8rem;
}

.education div {
  margin: 10px 0px !important;
}

@media screen and (max-width: 576px) {
  .sticky-nav {
    position: fixed !important;
    background-color: var(--bs-dark-bg-subtle);
    width: 100%;
    top: 80px !important;
    transition: 0.5s;
    padding: 0 !important;
    margin-left: -10px !important;
    transition: top 0.5s ease-in-out;
  }

  .aboutme > div{
    padding: 0px 10px 2px !important;
  }
}
